# Dependencies
node_modules
**/node_modules

# Environment files
.env
**/.env

# Build outputs
dist
build

# Prisma cache
.prisma

# Logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.tsbuildinfo
build_error.log

# Compiled config files
tailwind.config.js
tailwind.config.d.ts
vite.config.js
vite.config.d.ts


# Editor
.vscode/

# Debug files
git
check_users.ts


# Root package-lock
/package-lock.json